/* 
position:fixed -- закреп при скроле, липкое меню (фиксированный)
position:relative -- у родителя
position:absolute -- у дочернего элемента 
position:inherit -- наследование родительских свойст 

ЭТО БЫЛО РАНЬШЕ, СЕЙЧАС НЕ ИСПОЛЬЗУЕТСЯ
в картинке float:left -- обтекание блоков справа от картинки

vertiacal-align(:top) -- используется только с inline-block и выранвнивает по вертикали

width:50rem -- берет ширину корневого элмента (html, например) и умножает на 50
порсто em берет ширину того же самого элемента и умножает 
vw и hw -- относительно ширины и высоты экрана 

ПО СТИЛЯМ градация по специфичности
тэги << классы << вторые классы << идентификаторы << вложенность (классов) << inline стили (style="color: grey")

display: flex;
1) justify-content: space-between; -- прижмет к краям, между блоками ровно
2) justify-content: space-around; -- не прижимает к краям, м/у блоками ровно
3) flex-wrap: wrap; -- переносит блоки, если они не помещаются
4) В ТЭГАХ style: "order: 4" -- ставит блок на позицию 4
5) flex-direction: column -- сделать вертикальную ось главной (по умолчанию Ox -- главная)

min-height -- не задает жесткую высоту, секция будет растягиваться при необходимости


*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.promo {
    height: 862px;
    background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
    padding: 38px 0 62px 0;
}

.logo .logo_img{
    display: block;
    margin: 0 auto;
}

.logo .logo_text{
    font-family: 'Roboto';
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

.title{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 41px;
    color: #F9BF3B;
    text-transform: uppercase;
    text-align: center;
}

h2.title {
    margin-top: 30px;
}

.simple .title_big{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    margin-top: 21px;
}

.promo .promo_text{
    padding: 0 13px;
    margin-top: 23px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    color: #FFFFFF;
}

.promo .promo_text span{
    font-weight: 700;
    color: #F9BF3B;
    font-family: 'Roboto-Light';
}

.promo .promo_btn,
.gift .gift_btn {
    display: block;
    margin: 0 auto;
    margin-top: 72px;
    width: 321px;
    height: 80px;
    background-image: linear-gradient(0.0deg, #2798b9 0%, #3ab6da 100%);
    border: 4px solid rgba(0,0,0,0.22);

    box-shadow: inset 0px 0px 0px rgba(0,0,0,0.17);
    font-family: 'RobotoCondensed';
    font-size: 21px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.more{
    margin-top: 71px;
}

.more .more_text {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    min-height: 607px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header, 
.finish .finish_header {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.finish .finish_header {
    color: #FFFFFF;
}

.waiting .waiting_divider,
.finish .finish_divider {
    width: 217px;
    height: 4px;
    margin: 0 auto;
    margin-top: 18px;
    background: #F9BF3B;
}

.waiting .waiting_subheader {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    color: #4A4A4A;
    text-align: center;
    margin-top: 17px;
}

.waiting .waiting_wrapper{
    margin-top: 45px;
    display:flex;
    justify-content: space-between;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #4A4A4A;
}

/* .my-flex-container{
    display: flex;
    justify-content: ;
    height: 450px;
    background-color: lightblue;
}

.my-flex-container .my-flex-block {
    height: 100px;
    background-color: red;
    width: 100px;
    text-align: center;
    
} */

.optimization{
    min-width: 550px;
    padding: 102px 0 107px 0;   
}

.optimization .optimization_header {
    margin-left: 391px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    color: #299CBD;
}

.optimization .optimization_text {
    margin-top: 25px;
    font-family: 'Roboto';
    margin-left: 389px;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
}

.optimization .optimization_text span {
    font-weight: bold;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/bg/second_bg.jpg') center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 118px;
    height: 118px;
    background: #B4E2FF;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #EFEFEF;
}

.gift {
    min-height: 628px;
    background-color: #EFEFEF;
    padding: 86px 0 87px 0;
}

.gift .gift_pict {
    display: flex;
    margin: 0 auto;
}

.gift .gift_descr {
    margin-top: 45px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    color: #252525;
}

.gift .gift_btn {
    margin-top: 51px;
}

.enroll {
    min-height: 512px;
    padding: 81px 0 52px 0;
    text-align: center;
}

.enroll .enroll_pct {
    display: flex;
    margin: 0 auto;
}

.enroll .enroll_text_first {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 36px;
    color: #252525;
}

.enroll .enroll_text_second {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 30px;
    color: #299CBD;
}

.enroll .enroll_text_third {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 23px;
    margin-top: 26px;
    color: #4A4A4A;
}

.footer {
    min-height: 169px;
    background-color: #1A1A1A;
    padding: 57px 0 69px 0;
}

.footer .footer_wrapper {
    width: 407px;
    /* display: flex;
    margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer .footer_protect, 
.footer .footer_support,
.footer .footer_number, 
.footer .footer_line {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    text-decoration-line: underline;
    color: #888888;
}

.footer .footer_number {
    text-align: center;
    margin-top: 5px;
}

.footer .footer_line {
    margin-left: 5px;
    margin-right: 5px;
}



